/* line 1, ../sass/_typography.scss */
body, h2, h3, h4, h5, h6, p, input, form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25;
}

/* line 8, ../sass/_typography.scss */
h1, h4 {
  font-weight: 600;
}

/* line 12, ../sass/_typography.scss */
header {
  font-weight: 600;
}

/* line 17, ../sass/_typography.scss */
h1 {
  font-size: 1.750em;
}

/* line 21, ../sass/_typography.scss */
h2 {
  font-size: 1.500em;
}

/* line 25, ../sass/_typography.scss */
h3 {
  font-size: 1.500em;
}

/* line 29, ../sass/_typography.scss */
h4, h5, h6 {
  font-size: 1em;
}

/* line 33, ../sass/_typography.scss */
a {
  text-decoration: none;
  font-size: inherit;
}

/* line 38, ../sass/_typography.scss */
header h1 {
  margin-bottom: 0;
}
/* line 41, ../sass/_typography.scss */
header h2 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0;
}

/* line 55, ../sass/_typography.scss */
nav h4 {
  font-size: 1.500em;
  font-weight: 300;
  margin: 1em 0;
}
/* line 61, ../sass/_typography.scss */
nav .menu-item {
  font-size: 1.500em;
  font-weight: 300;
  margin: 1em 0;
  line-height: 1.25;
  box-sizing: border-box;
}
/* line 67, ../sass/_typography.scss */
nav .menu-item a {
  display: block;
  color: #adadad;
}
/* line 72, ../sass/_typography.scss */
nav .menu-item.current-menu-item a, nav .menu-item.current-post-ancestor a {
  color: #878787;
}
/* line 77, ../sass/_typography.scss */
nav .menu-main_nav-container {
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}
/* line 82, ../sass/_typography.scss */
nav ul {
  list-style: none;
  padding: 0;
}
/* line 87, ../sass/_typography.scss */
nav ul ul li {
  font-size: 1em;
  font-weight: 600;
}
/* line 92, ../sass/_typography.scss */
nav ul ul li a {
  color: #878787;
  font-weight: 600;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  padding-bottom: 0;
}

/* line 1, ../sass/_layout.scss */
html {
  background: #f7f6f5;
}

/* line 4, ../sass/_layout.scss */
body {
  color: #979797;
  background: #f7f6f5;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/_layout.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

/* line 22, ../sass/_layout.scss */
h1, h1 a {
  color: #646464 !important;
}

/* line 26, ../sass/_layout.scss */
article {
  background: white;
  margin-bottom: 3em;
}

/* line 32, ../sass/_layout.scss */
header h1 {
  margin-top: 1.2em;
}

/* line 37, ../sass/_layout.scss */
.article-content, .comments-content {
  padding: 3em 3.750em 3.750em 3.750em;
}
/* line 40, ../sass/_layout.scss */
.article-content .article-title, .comments-content .article-title {
  border-bottom: 1px solid #adadad;
  margin-bottom: 1em;
}
/* line 44, ../sass/_layout.scss */
.article-content h1, .comments-content h1 {
  margin-top: 0;
}

/* line 50, ../sass/_layout.scss */
.comments {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 53, ../sass/_layout.scss */
.comments h3 {
  margin-top: 0;
}

/* line 58, ../sass/_layout.scss */
.comment-form h3 {
  margin-top: 0;
}

/* line 63, ../sass/_layout.scss */
.comments-content ul {
  padding: 0;
}
/* line 65, ../sass/_layout.scss */
.comments-content ul li {
  list-style: none;
}
/* line 67, ../sass/_layout.scss */
.comments-content ul li ul {
  padding: 1em;
}

/* line 76, ../sass/_layout.scss */
.review-content a {
  padding: 1em 2.1em 1em 2.1em;
  display: block;
}

/* line 84, ../sass/_layout.scss */
header {
  width: 320px;
  float: left;
  position: fixed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 92, ../sass/_layout.scss */
header:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 97, ../sass/_layout.scss */
.main-wrapper {
  padding-left: 320px;
}

/* line 101, ../sass/_layout.scss */
.main {
  max-width: 49em;
}

/* line 105, ../sass/_layout.scss */
.logo-container {
  width: 60px;
  float: left;
  margin: 0 20px;
}

/* line 112, ../sass/_layout.scss */
a.logo {
  margin-top: 1.5em;
  width: 60px;
  height: 60px;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 120, ../sass/_layout.scss */
.nav-container {
  width: 220px;
  float: right;
}

/* line 126, ../sass/_layout.scss */
.mobile-nav {
  display: none;
}

/* line 132, ../sass/_layout.scss */
.search input {
  font-size: 1.500em;
  font-weight: 300;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #979797;
  -webkit-font-smoothing: antialiased;
}
/* line 141, ../sass/_layout.scss */
.search input[type="text"] {
  padding: 0;
  width: 80%;
  float: left;
}
/* line 146, ../sass/_layout.scss */
.search input[type="submit"] {
  width: 20%;
  height: 2.3125em;
  display: block;
}
/* line 151, ../sass/_layout.scss */
.search input[type="text"]:focus {
  padding: 0 0.5em;
}
/* line 154, ../sass/_layout.scss */
.search form {
  clear: both;
}

/* line 159, ../sass/_layout.scss */
section a {
  color: #00b2ff;
}

/* line 165, ../sass/_layout.scss */
blockquote {
  padding: 0 0 0 1em;
  margin: 0;
  border-left: 1px solid #adadad;
}

/* line 170, ../sass/_layout.scss */
blockquote p:first-letter {
  font-size: 130%;
}

/* line 180, ../sass/_layout.scss */
a.more-link {
  padding: 1em;
  display: block;
  text-align: center;
  background: rgba(173, 173, 173, 0.1);
  margin: 1em 4em;
  color: #979797;
}

/* line 189, ../sass/_layout.scss */
.author-post-rating {
  margin: 0 1em 0 0;
  height: 1.750em;
}

/* line 195, ../sass/_layout.scss */
.clear {
  clear: both;
}

/* line 200, ../sass/_layout.scss */
.grid-item {
  padding: 10px;
}

/* line 204, ../sass/_layout.scss */
.row.review {
  padding: 1em 0;
  margin: 1em;
  background: #fff;
}
/* line 208, ../sass/_layout.scss */
.row.review .stars {
  text-align: right;
}

/* line 213, ../sass/_layout.scss */
.posts-nav {
  text-align: center;
}
/* line 215, ../sass/_layout.scss */
.posts-nav a {
  padding: 0 2em;
  line-height: 60px;
  background: white;
  display: block;
  margin: 1.750em 0;
  color: #979797;
  font-size: 1.750em;
}

/* line 230, ../sass/_layout.scss */
.single .main-article {
  margin-bottom: 0;
}
/* line 232, ../sass/_layout.scss */
.single .main-article .article-content {
  margin: 0;
}

@media only screen and (max-width: 769px) {
  /* line 241, ../sass/_layout.scss */
  .column, .columns {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 245, ../sass/_layout.scss */
  .article-content, .comments-content {
    padding: 2em;
  }

  /* line 248, ../sass/_layout.scss */
  .article-content .article-title, .comments-content .article-title {
    border-color: transparent;
  }

  /* line 251, ../sass/_layout.scss */
  a.logo {
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 9999;
    margin-top: 0;
  }

  /* line 258, ../sass/_layout.scss */
  .main-wrapper {
    padding-left: 0;
  }

  /* line 261, ../sass/_layout.scss */
  .mobile-nav {
    display: block;
  }

  /* line 265, ../sass/_layout.scss */
  header.show-for-medium-up {
    display: none !important;
  }
}
