html{
	background: $backgroundColor;
}
body{
	color: $mainColor;
	background: $backgroundColor;
	-webkit-font-smoothing: antialiased;

}

section{
}



h1,h2,h3,h4,h5,h6{
	a{
		color: inherit;
	}
}

h1, h1 a{
	color: $strongColor !important;
}

article{
	background: white;
	margin-bottom: 3em;
}

header{
	h1{
		margin-top:1.2em;
	}
}

.article-content, .comments-content{
	padding: 3em 3.750em 3.750em 3.750em;
	//margin: 0 0 3.750em 0;
	.article-title{
		border-bottom: 1px solid #adadad;
		margin-bottom: 1em;
	}
	h1{
		margin-top: 0;
	}
}

.review-content{
	a{
		padding: 1em 2.1em 1em 2.1em;
		display: block;
	}
}

.comments-content{
	ul{
		padding: 0;
		li{
			list-style: none;
			ul{
				padding: 1em;
			}
		}
	}

}

a.logo{
	margin-top: 1.4em;
	width: 60px;
	height: 60px;
	display: block;
}

.fixed{
    position:fixed;

}


.sticky{
    position:fixed;
    z-index:999;
}

.search{
	input{
		font-size: 1.500em;
		font-weight: 300;
		background: none;
		border: none;
		@include box-shadow(none);
		color: $mainColor;
		-webkit-font-smoothing: antialiased;
	}
	input[type="text"]{
		padding: 0;
		width: 80%;
		float: left;
	}
	input[type="submit"]{
		width: 20%;
		height: 2.3125em;
		display: block;
	}
	input[type="text"]:focus{
		padding: 0 0.5em;
	}
	form{
		clear: both;
	}
}

section a{
	color: $accentColor;
}

blockquote{
	padding: 0;
	margin: 0;
}
blockquote p:first-letter {
	float: left;
	margin: .2em .3em .1em 0;
	font-size: 220%;
	font-weight: bold; }
blockquote p:first-line {
	font-variant: small-caps; }
	
a.more-link{
	padding: 1em;
	display: block;
	text-align: center;
	background: rgba($lightColor,0.1);
	margin: 1em 4em;
	color: $mainColor;
}

.author-post-rating{
	//float: left;
	margin: 0 1em 0 0;
	height: 1.750em;
}

.clear{
	clear: both;
}


.grid-item{
	padding: 10px;
}

.row.review{
	padding: 1em 0;
	margin: 1em;
	background: #fff;
	.stars{
		text-align: right;
	}
}

.posts-nav{
	text-align: center;
	a{
		padding: 0 2em;
		height: 60px;
		line-height: 60px;
		background: white;
		display: block;
		margin: 1.750em 0;
	}
}



// SINGLE
.single{
	.main-article{
		margin-bottom: 0;
		.article-content{
			margin: 0;
		}
	}	
}