$mainFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$mainColor: #979797;

$backgroundColor: #f7f6f5;

$strongColor: #646464;

$accentColor: #00b2ff;

$boldColor: #878787;

$lightColor: #adadad;
