$mainFontFamily: 'Helvetica Neue',Helvetica,Arial,sans-serif;

$mainColor: #888;

$backgroundColor: #f7f6f5;

$strongColor: #242424;

$accentColor: #00b2ff;

$boldColor: #878787;

$lightColor: #adadad;
